.slick-slide > div {
  padding:0 10px !important;
}

/* slider dot hide */

.slick-dots {
  display: none !important;
}

.slick-arrow.slick-prev {
  display: none !important;
}

.slick-arrow.slick-next {
  display: none !important;
}

:focus-visible {
  outline: none !important;
}