@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 650px) {

  .container {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}